<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [10]:
print("A. Hello, my name is Megan Rochella")

nama = "Megan Rochella"
print("B. Hello, my name is", nama)

nama = "Megan Rochella"
print("C. Hello, my name is " + nama)

nama = "Megan Rochella"
print("D. Hello, my name is {}".format(nama))

A. Hello, my name is Megan Rochella
B. Hello, my name is Megan Rochella
C. Hello, my name is Megan Rochella
D. Hello, my name is Megan Rochella

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [11]:
# Soal a
kotak_kelereng = 4
isi_per_kotak = 15
total_kelereng = kotak_kelereng * isi_per_kotak
jumlah_teman = 12

kelereng_per_teman = total_kelereng // jumlah_teman
print(f"A. Setiap teman akan mendapat {kelereng_per_teman} kelereng.")

# Soal b
hasil = 8 ** (1/3)
print(f"B. Hasil dari 8 pangkat 1/3 adalah {hasil:.2f}.")

# Soal c
uang_catharina = 50000
harga_kertas_binder = 7500
jumlah_beli = uang_catharina // harga_kertas_binder #  operator // artinya pembagian dlm bentuk bulat ke bawah
kembalian = uang_catharina % harga_kertas_binder # opearator % artinya sisa dari pembagian dua angka

print(f"C. Catharina dapat membeli {jumlah_beli} kertas binder.")
print(f"Kembalian yang diterima adalah Rp {kembalian}.")

A. Setiap teman akan mendapat 5 kelereng.
B. Hasil dari 8 pangkat 1/3 adalah 2.00.
C. Catharina dapat membeli 6 kertas binder.
Kembalian yang diterima adalah Rp 5000.

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [18]:
# Konversi
no_1 = int("1000")
print(no_1, type(no_1)) # menggunakan type untuk print tipe data

no_2 = int(5.25)
print(no_2, type(no_2))

no_3 = float(5)
print(no_3, type(no_3))

no_4 = str(1000)
print(no_4, type(no_4))

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [25]:
# Soal 1
quote = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = quote[20:31]  # indeks 20 sampai 30
print(substring)

# Soal 2
pisah = quote.split()
print(pisah)

# Soal 3
balik = quote[::-1] # ambil karakter dari string dari akhir ke awal
print(balik)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [28]:
# Soal 1
fakultas = ("School of Business Management", "School of Creative Industry", "School of Tourism", "School of Information Technology", "School of Medicine", "School of Dental Medicine", "School of Psychology", "School of Communication Science and Media Business", "School of Entrepreneurship and Humanities")

# Soal 2
jumlah_fakultas = len(fakultas)
print(f"Jumlah fakultas di UC: {jumlah_fakultas}")

# Soal 3
index_berapa = fakultas.index("School of Information Technology")
print(f"Posisi fakultas SIFT: {index_berapa}") # SIFT di index 3 karena index dimulai dari 0

Jumlah fakultas di UC: 9
Posisi fakultas SIFT: 3

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [30]:
# Soal 1
favorit = ["Pizza", "Sushi", "Burger"]

# Soal 2
for makanan in favorit:
    print(makanan)

# Soal 3
for makanan in favorit:
    print(f"Aku ingin pesan {makanan}")

# Soal 4
favorit[1] = "Pasta"  # Mengganti Sushi dengan Pasta
print(f"Aku ingin mengganti pesananku jadi {favorit[1]}")

Pizza
Sushi
Burger
Aku ingin pesan Pizza
Aku ingin pesan Sushi
Aku ingin pesan Burger
Aku ingin mengganti pesananku jadi Pasta

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [32]:
# Soal 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# Soal 2
gabungan = set1.union(set2)  # bisa juga menggunakan set1 | set2
print("Gabungan set1 dan set2:", gabungan)

# Soal 3
intersection_set1_set3 = set1.isdisjoint(set3) # isdisjoint(): Memeriksa apakah dua set tidak memiliki elemen yang sama
print("Set1 dan set3 tidak mempunyai intersection:", intersection_set1_set3)

# Soal 4
subset_set4_set1 = set4.issubset(set1) # issubset(): Memeriksa apakah semua elemen set pertama ada di set kedua
print("Set4 adalah bagian dari set1:", subset_set4_set1)

Gabungan set1 dan set2: {1, 2, 3, 4, 6, 8}
Set1 dan set3 tidak mempunyai intersection: True
Set4 adalah bagian dari set1: True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [37]:
def hitung_tarif():
    try:
        penggunaan = float(input("Masukkan jumlah penggunaan listrik (kWh): "))

        if penggunaan < 100:
            penggunaan = 100

        if penggunaan < 1000:
            tarif_per_kwh = 1000
        else:
            tarif_per_kwh = 2000

        total_biaya = penggunaan * tarif_per_kwh

        if penggunaan >= 1000:
            total_biaya *= 1.1  # Menambah 10%

        print(f"Total biaya yang harus dibayar: Rp {total_biaya:.2f}")

    except ValueError:
        print("Error: Harap masukkan angka yang valid.")

hitung_tarif()

Masukkan jumlah penggunaan listrik (kWh): 12000
Total biaya yang harus dibayar: Rp 26400000.00

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [44]:
def hitung_angkot():
    try:
        jumlah_peserta = int(input("Masukkan jumlah peserta: "))

        if jumlah_peserta < 0:
            print("Jumlah orang tidak bisa negatif!")
            return

        kapasitas_angkot = 10
        if jumlah_peserta == 0:
            jumlah_angkot = 0
        else:
            jumlah_angkot = (jumlah_peserta // kapasitas_angkot) + (1 if jumlah_peserta % kapasitas_angkot > 0 else 0)
            # menentukan apakah ada kelebihan penumpang setelah membagi jumlah peserta dengan kapasitas angkot

        print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

    except ValueError:
        print("Error: Harap masukkan angka yang valid.")

hitung_angkot()

Masukkan jumlah peserta: 12
Jumlah angkot yang diperlukan: 2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [54]:
import numpy as np
import random

# Soal 1
hari = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])

In [55]:
# Soal 2
hari_sorted = np.sort(hari)

In [56]:
# Soal 3
hari_acak = random.choice(hari_sorted)
print(f"Selamat hari {hari_acak} adalah hari baikmu bulan ini!")

Selamat hari Rabu adalah hari baikmu bulan ini!

In [57]:
# Soal 4
matriks = np.random.randint(1, 7, size=(3, 4))
print("Matriks 3x4:")
print(matriks)

print("Shape dari matriks:", matriks.shape)
print("Dimensi dari matriks:", matriks.ndim)

Matriks 3x4:
[[5 1 6 5]
 [1 2 6 6]
 [2 3 3 2]]
Shape dari matriks: (3, 4)
Dimensi dari matriks: 2

In [58]:
# Soal 5
kolom_ketiga = matriks[:, 2]
print("Elemen kolom ketiga:", kolom_ketiga)

Elemen kolom ketiga: [6 6 3]

In [59]:
# Soal 6
matrix_asli = np.array([[1, 2, 3, 4],
                         [5, 6, 7, 8],
                         [9, 10, 11, 12]])

matrix_reshaped = matrix_asli.reshape(2, 6)
print("Matriks setelah reshape menjadi (2, 6):")
print(matrix_reshaped)

Matriks setelah reshape menjadi (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [61]:
import pandas as pd

# Soal 1
list_kata = ["Information", "Systems", "for", "Business"]
series_kata = pd.Series(list_kata)
print("Pandas Series:")
print(series_kata)

# Soal 2
data_dict = { "brand": "Ford", "model": "Mustang", "year": 1964 }
dataframe_mobil = pd.DataFrame([data_dict])
print("\nPandas DataFrame:")
print(dataframe_mobil)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame:
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [66]:
import pandas as pd

# Soal 3
url = R"https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"
df = pd.read_csv(url)

In [68]:
# Soal 4
kota_unik = df['State'].unique()
print("Kota-kota yang ada dalam dataset:", kota_unik)

Kota-kota yang ada dalam dataset: ['New York' 'California' 'Florida']

In [69]:
# Soal 5
df_random = df.sample(n=10, random_state=1)
print("\n5 row pertama dari dataset random:")
print(df_random.head())

5 row pertama dari dataset random:
    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [70]:
# Soal 6
print("\nInformasi DataFrame:")
print(df.info())

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [72]:
# Soal 7
california_data = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print("\nData 'R&D Spend' dan 'Marketing Spend' untuk kota 'California':")
print(california_data)

Data 'R&D Spend' dan 'Marketing Spend' untuk kota 'California':
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [73]:
# Soal 8
missing_values = df.isnull().sum()
print("\nMissing value di setiap kolom:")
print(missing_values)

Missing value di setiap kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [74]:
# Soal 9
df_cleaned = df[df['Profit'] >= 50000]

In [75]:
# Soal 10
df_sorted = df_cleaned.sort_values(by='Marketing Spend', ascending=False)
print("\nDataFrame setelah diurutkan berdasarkan 'Marketing Spend':")
print(df_sorted.head())

DataFrame setelah diurutkan berdasarkan 'Marketing Spend':
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [81]:
import pandas as pd

# Soal 1
url = R"https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv"
df_2 = pd.read_csv(url)

In [82]:
# Soal 2
random_data = df_2.sample(n=10, random_state=1)
print("10 data random dari dataset:")
print(random_data)

10 data random dari dataset:
      No  X1 transaction date  X2 house age  \
388  389             2013.500          10.4
102  103             2013.083           1.1
187  188             2013.000           8.9
162  163             2012.750          16.0
90    91             2012.833           0.0
398  399             2013.417          14.7
295  296             2013.167          18.2
397  398             2013.417          13.1
17    18             2012.750          17.7
58    59             2013.500          30.3

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
388                               2251.9380                                4
102                                193.5845                                6
187                               3078.1760                                0
162                               4066.5870                                0
90                                 274.0144                                1
398                               1717.1930                                2
295                               2179.5900                                3
397                               1164.8380                                4
17                                 350.8515                                1
58                                4510.3590                                1

     X5 latitude  X6 longitude  Y house price of unit area
388     24.95957     121.51353                        27.3
102     24.96571     121.54089                        54.4
187     24.95464     121.56627                        22.0
162     24.94297     121.50342                        11.6
90      24.97480     121.53059                        45.4
398     24.96447     121.51649                        23.0
295     24.96299     121.51252                        21.8
397     24.99156     121.53406                        32.2
17      24.97544     121.53119                        37.4
58      24.94925     121.49542                        22.6

In [83]:
# Soal 3
print("\nDeskripsi dataset:")
print(df_2.describe())

Deskripsi dataset:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [84]:
# Soal 4
df_2 = df_2.drop(columns=['No'])

df_2.columns = ['transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station',
              'number_of_convinience_stores', 'latitude', 'longitude',
              'house_price_of_unit_area']

In [86]:
# Soal 5
missing_values = df_2.isnull().sum()
print("\nMissing values di masing-masing kolom:")
print(missing_values)

Missing values di masing-masing kolom:
transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64